.center {
    margin: 0 auto;
}

.selectNumberContainer {
    text-align: center;
    margin-bottom: 10px;
}

.animationContainer {
    margin-top: 20px;
}

.parentContainer {
    display: flex;
    margin: 30px;
    justify-content: flex-end;
}

.buttonsContainer {
    display: flex;
    width: 450px;
    justify-content: space-between;
}
